.go-back-button {
  text-align: center;
  font-size: 24px;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  transition: background-color 250ms;
  font-family: "Ubuntu";
  box-shadow: -1px 5px 42px 10px rgba(134, 134, 134, 0.219);
}

.go-back-button:hover {
  background-color: rgb(218, 20, 20);
  color: black;
}
